@import "tailwindcss";

:root {
  --foreground-rgb: 17, 24, 39;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
}

@layer base {
  h1, h2, h3, h4 {
    @apply tracking-tight;
  }
}